* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 15px;
}

header {
  background-color: #000;
}
header nav .container .navbar-brand img {
  width: 120px !important;
}
header nav .container .navbar-toggler {
  color: #fff !important;
}
header nav .container .collapse {
  flex-grow: 0 !important;
}
header nav .container .collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 16px;
  transition: all 1s;
}
header nav .container .collapse .navbar-nav .nav-item .nav-link:hover {
  transform: scale(1.2);
}

.carousel .container {
  padding: 15px;
}
.carousel .container a.active::after {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0px;
  content: "";
  background-color: #000;
}
.carousel .container a {
  text-decoration: none;
  color: #000;
  margin-right: 30px;
  font-size: 20px;
  position: relative;
}
.carousel .container a::after {
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -10px;
  left: 0px;
  content: "";
  background-color: #000;
  transition: all 1s;
}
.carousel .container a:hover::after {
  width: 100%;
}

.carousel_slider .owl-carousel .item {
  background-image: url(../images/image\ 6.png);
}