* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  padding: 15px;
}

header {
  background-color: #000;
}
header nav .container .navbar-brand img {
  width: 120px !important;
}
header nav .container .navbar-toggler {
  color: #fff !important;
}
header nav .container .collapse {
  flex-grow: 0 !important;
}
header nav .container .collapse .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 16px;
  transition: all 1s;
}
header nav .container .collapse .navbar-nav .nav-item .nav-link:hover {
  transform: scale(1.2);
}

.carousel .container {
  padding: 15px;
}
.carousel .container a.active::after {
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: -10px;
  left: 0px;
  content: "";
  background-color: #000;
}
.carousel .container a {
  text-decoration: none;
  color: #000;
  margin-right: 30px;
  font-size: 20px;
  position: relative;
}
.carousel .container a::after {
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -10px;
  left: 0px;
  content: "";
  background-color: #000;
  transition: all 1s;
}
.carousel .container a:hover::after {
  width: 100%;
}

.carousel-slider .owl-carousel {
  position: relative;
}
.carousel-slider .owl-carousel .item {
  height: 500px;
  background-image: url(../images/image\ 6.png);
  background-position: center center;
  background-size: cover;
}
.carousel-slider .owl-carousel .item .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-slider .owl-carousel .item .container .product_img {
  width: 50%;
}
.carousel-slider .owl-carousel .item .container .product_img img {
  width: 75%;
}
.carousel-slider .owl-carousel .item .container .product_detail {
  width: 50%;
  text-align: center;
}
.carousel-slider .owl-carousel .item .container .product_detail button {
  padding: 15px;
  width: 150px;
  border-radius: 10px;
  background-color: orange;
  border: none;
  color: #fff;
  transition: all 1s;
}
.carousel-slider .owl-carousel .item .container .product_detail button:hover {
  opacity: 0.5;
}
.carousel-slider .owl-carousel .owl-dots {
  position: absolute;
  bottom: 0%;
  left: 46%;
}
.carousel-slider .owl-carousel .owl-dots .owl-dot.active span {
  background-color: #000 !important;
}
.carousel-slider .owl-carousel .owl-nav {
  position: absolute;
  top: 40%;
  width: 100%;
}
.carousel-slider .owl-carousel .owl-nav button.owl-next {
  border: 1px solid none;
  width: 100px;
  height: 100px;
  position: absolute;
  right: 0%;
  font-size: 60px;
}
.carousel-slider .owl-carousel .owl-nav button.owl-next:hover {
  background: none;
}
.carousel-slider .owl-carousel .owl-nav button.owl-next:hover span {
  transform: scale(1.5);
  color: black;
}
.carousel-slider .owl-carousel .owl-nav button.owl-next span {
  transition: all 0.5s;
  display: inline-block;
}
.carousel-slider .owl-carousel .owl-nav button.owl-prev {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0%;
  font-size: 60px;
}
.carousel-slider .owl-carousel .owl-nav button.owl-prev:hover {
  background: none;
}
.carousel-slider .owl-carousel .owl-nav button.owl-prev:hover span {
  transform: scale(1.5);
  color: black;
}
.carousel-slider .owl-carousel .owl-nav button.owl-prev span {
  transition: all 0.5s;
  display: inline-block;
}

.product .container .tittle {
  font-size: 40px;
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
.product .container .product-row .row .col-12 {
  margin-top: 15px;
}
.product .container .product-row .row .col-12 .container {
  padding: 15px;
}
.product .container .product-row .row .col-12 .container .card {
  text-align: center;
  margin: 0 auto;
  transition: all 1s;
}
.product .container .product-row .row .col-12 .container .card img {
  width: 50%;
}
.product .container .product-row .row .col-12 .container .card .card-title {
  font-size: 16px;
}
.product .container .product-row .row .col-12 .container .card:hover {
  transform: translateY(-30px);
  box-shadow: -2px 9px 5px 0px rgba(0, 0, 0, 0.15);
}