* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Background black
$bg-c0-dark: #000;
// Text color
$text-c0-light: #fff;
// header

header {
    background-color: $bg-c0-dark;
    nav {
        .container {
            .navbar-brand {
                img {
                    width: 120px !important ;
                }
            }
        }
    }
}
