@import "./global.scss";
@import "./header.scss";
@import "./_carousel.scss";
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

* {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

.container {
    padding: 15px
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

header {
    background-color: #000
}

header nav .container .navbar-brand img {
    width: 120px !important
}

header nav .container .navbar-toggler {
    color: #fff !important
}

header nav .container .collapse {
    flex-grow: 0 !important
}

header nav .container .collapse .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-size: 16px;
    transition: all 1s
}

header nav .container .collapse .navbar-nav .nav-item .nav-link:hover {
    transform: scale(1.2)
}

.err {
    font-size: 14px;
}

//--------------form input------------------------
.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 80%;


}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    font-size: 1.3rem;
    color: $gray;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
        color: transparent;
    }

    &:placeholder-shown~.form__label {
        font-size: 1.3rem;
        cursor: text;
        top: 20px;
    }
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $gray;
}

.form__field:focus {
    ~.form__label {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight: 700;
    }

    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;
}

/* reset input */
.form__field {

    &:required,
    &:invalid {
        box-shadow: none;
    }
}